* {
  box-sizing: border-box;
  min-width: 0;
}

html,
body {
  min-height: 100dvh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  background-color: var(--BgColor);
}

h1,
h2,
h3,
h4 {
  text-wrap: pretty;
  color: var(--GrayColor);
}

:root {
  --FontSize-xsm: 12px;
  --FontSize-sm: 16px;
  --FontSize-md: 20px;
  --FontSize-lg: 24px;
  --FontSize-xlg: 28px;

  --BgColor: #0d0d0d;
  --GrayColor: #f2f2f2;
  --Gray800: #282828;
  --Gray300: #7b7b7b;
  --Green: #0a4036;
  --Turquoise: #1df2f2;
  --Lightblue: #35d0f2;
}

header {
  display: flex;
}

.logo_container {
  width: 25%;
  display: flex;
  justify-content: stretch;
  align-items: center;
  padding-left: 0.3rem;
}

.logo_container img {
  width: 40px;
  height: 40px;

  margin-top: 18px;
  margin-bottom: 18px;
}

.navbar_container {
  width: 100%;
  height: auto;

  display: flex;
  justify-content: end;
  align-items: center;
}

.navbar_list {
  display: flex;

  gap: 1rem;

  padding-left: 0px;
  padding-right: 0.5rem;
  margin-top: 0px;
  margin-bottom: 0px;
}
.navbar_list li {
  list-style: none;
}

.navbar_list li a {
  color: var(--GrayColor);
  font-weight: 500;
  font-size: var(--FontSize-md);
  text-decoration: none;
}

/*Aside menú*/

aside {
  width: 40%;
  height: 12rem;
  position: fixed;
  top: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

aside .item_container {
  width: 15%;
  height: 24%;

  display: flex;
  flex-direction: arrow;
  justify-content: end;
  align-items: center;
  text-align: end;
  background-color: var(--Gray300);
  padding-right: 8px;
}

.item_container:nth-child(1) {
  border-radius: 0px 10px 0px 0px;
}

.item_container:nth-child(4) {
  border-radius: 0px 0px 10px 0px;
}

aside article img {
  width: 30px;
  height: 30px;
}

aside .item {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 80%;
  height: 2.5rem;
  text-decoration: none;
  text-align: end;
  font-size: var(--FontSize-md);
  color: pink;
  margin-left: -40px;
  margin-right: 10px;
}

.item_container:hover,
.item:hover {
  width: 80%;
  display: flex;
  transition: 0.7s;
  color: var(--GrayColor);
  padding-left: 8px;
  margin-right: 10px;

  border-radius: 0px 10px 10px 0px;
}

/*Main*/

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
}
/*Home*/
#home {
  width: 90%;
  color: var(--Gray300);
  padding-left: 4rem;
}
/*About Section*/
#about {
  width: 90%;
  padding-left: 2rem;

  color: var(--Gray300);
}
/*Hobbies Section*/
#hobbies {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  text-align: start;
}

#hobbies article {
  width: 30%;
  height: 8rem;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;

  background-color: var(--Gray800);
}

#hobbies article img {
  width: 3rem;
  height: 3rem;

  margin-left: 0.5rem;
}

#hobbies article h4 {
  margin: 0px 0px 0px 0.5rem;
}

/*Skilss Section*/
#skills {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  text-align: start;
}

#skills article {
  width: 30%;
  height: 8rem;

  display: flex;
  flex-direction: column;
  justify-content: end;

  background-color: var(--Gray800);
}

#skills article img {
  width: 3rem;
  height: 3rem;

  margin-left: 0.5rem;
}

#skills article h4 {
  margin: 0px 0px 0px 0.5rem;
}

/*Education Section*/

#education {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  text-align: start;
}

#education article {
  width: 30%;
  height: 8rem;

  display: flex;
  flex-direction: column;
  justify-content: end;
  color: var(--GrayColor);

  background-color: var(--Gray800);
}

#education article figure {
  width: 3rem;
  height: 3rem;

  margin-left: 0.5rem;
}

#education article h4 {
  margin: 0px 0px 0px 0.5rem;
}
/*Portfolio Section*/

#portfolio {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  text-align: start;
}

#portfolio article {
  width: 30%;
  height: 8rem;

  display: flex;
  flex-direction: column;
  justify-content: end;

  background-color: var(--Gray800);
}

#portfolio article img {
  width: 3rem;
  height: 3rem;

  margin-left: 0.5rem;
}

#portfolio article h4 {
  margin: 0px 0px 0px 0.5rem;
}

.button_container {
  display: flex;
  flex-direction: column;
}

/*Contact Section*/

#contact {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;

  align-items: center;
}

#contact form {
  width: 80%;
  height: 60vh;

  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 10px;
}

/*Footer*/

footer {
  width: 100%;
  height: 10dvh;

  font-size: var(--FontSize-xsm);
  text-align: center;

  color: var(--GrayColor);
}

/*Tablet View*/

@media (max-width: 437px) {
  .navbar_list {
    display: flex;
    justify-content: end;

    margin-right: 1.5rem;
  }

  .navbar_list li:nth-child(-n + 5) {
    display: none;
  }
}

@media (max-width: 320px) {
  .logo_container {
    width: 100%;
    justify-content: center;
    padding-left: 0.5rem;
    font-size: var(--FontSize-lg);
  }

  .navbar_container {
    width: 45%;
  }

  .navbar_list {
    padding-right: 0px;
    margin-right: 0px;
  }

  .navbar_list li a {
    font-size: var(--FontSize-lg);
  }

  aside {
    width: 100%;
    left: 0rem;
  }

  aside .item_container {
    width: 15%;
  }
  /*Home*/
  #home {
    width: 100%;
    padding-left: 0rem;
  }

  /*About Section*/
  #about {
    width: 100%;
    padding-left: 0rem;
  }

  /*Hobbies Section*/
  #hobbies {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 4px;
    text-align: center;
    align-items: center;
  }

  #hobbies article {
    width: 100%;
    height: 8rem;

    justify-content: center;
  }

  #hobbies article img {
    width: 4rem;
    height: 4rem;

    margin-left: 0rem;
  }

  #hobbies article h4 {
    margin: 0px 0px 0px 0rem;
  }

  /*Skilss Section*/
  #skills {
    flex-direction: column;
    text-align: center;
    flex-wrap: nowrap;
    gap: 4px;
    text-align: center;
    align-items: center;
  }

  #skills article {
    width: 100%;
    height: 8rem;

    justify-content: center;
    align-items: center;

    background-color: var(--Gray800);
  }

  #skills article img {
    width: 4rem;
    height: 4rem;

    margin-left: 0rem;
  }

  #skills article h4 {
    margin: 0px 0px 0px 0rem;
    background-color: pink;
  }

  #education {
    flex-direction: column;
    text-align: center;
    flex-wrap: nowrap;
    gap: 4px;
    text-align: center;
    align-items: center;
  }

  #education article {
    width: 100%;
    height: 8rem;

    justify-content: center;
    align-items: center;

    background-color: var(--Gray800);
  }

  #education article img {
    width: 4rem;
    height: 4rem;

    margin-left: 0rem;
  }

  #education article h4 {
    margin: 0px 0px 0px 0rem;
    background-color: pink;
  }
}
