* {
  box-sizing: border-box;
  min-width: 0;
}

html,
body {
  min-height: 100dvh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  background-color: var(--BgColor);
}

h1,
h2,
h3,
h4 {
  text-wrap: pretty;
  color: var(--GrayColor);
}

:root {
  --FontSize-xsm: 18px;
  --FontSize-sm: 22px;
  --FontSize-md: 26px;
  --FontSize-lg: 38px;
  --FontSize-xlg: 66px;

  --BgColor: #0d0d0d;
  --GrayColor: #f2f2f2;
  --Gray800: #282828;
  --Gray300: #7b7b7b;
  --Green: #0a4036;
  --Turquoise: #1df2f2;
  --Lightblue: #35d0f2;
}

header {
  display: flex;
  font-size: var(--FontSize-sm);
}

.logo_container {
  width: 25%;
  display: flex;
  justify-content: stretch;
  align-items: center;
  padding-left: 0.3rem;
  margin-left: 0.5rem;
}

.logo_container img {
  width: 40px;
  height: 40px;

  margin-top: 18px;
  margin-bottom: 18px;
}

.navbar_container {
  width: 100%;
  height: auto;

  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 0.5rem;
}

.navbar_list {
  display: flex;

  gap: 1rem;

  padding-left: 0px;
  padding-right: 0.5rem;
  margin-top: 0px;
  margin-bottom: 0px;
}
.navbar_list li {
  list-style: none;
}

.navbar_list li a {
  color: var(--GrayColor);
  font-weight: 500;
  font-size: var(--FontSize-sm);
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease;
}

.navbar_list li a:hover {
  color: var(--Lightblue);
}

/*Aside menú*/

aside {
  width: 15%;
  height: 12rem;
  position: fixed;
  top: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

aside .item_container {
  width: 30%;
  height: 24%;

  display: flex;
  flex-direction: arrow;
  justify-content: end;
  align-items: center;
  text-align: end;
  background-color: var(--Gray300);
  padding-right: 1rem;
}

.item_container:nth-child(1) {
  border-radius: 0px 10px 0px 0px;
}

.item_container:nth-child(4) {
  border-radius: 0px 0px 10px 0px;
}

aside article img {
  width: 30px;
  height: 30px;
  margin-left: 4px;
}

aside .item {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  height: 2.5rem;
  text-decoration: none;
  text-align: end;
  font-size: var(--FontSize-sm);
  color: var(--GrayColor);
  margin-left: -40px;
  margin-right: 10px;
}

.item_container:hover,
.item:hover {
  width: 80%;
  display: flex;
  transition: 0.7s;
  padding-left: 8px;
  margin-right: 10px;

  border-radius: 0px 10px 10px 0px;
}

/*Main*/

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
}

main h2 {
  font-size: var(--FontSize-lg);
}
/*Home*/
#home h1 {
  width: 100%;
  font-size: var(--FontSize-xlg);
  margin-bottom: 0px;
}

#home p {
  width: 60%;
  text-align: start;
  line-height: 1.5;
}
#home {
  width: 90%;
  text-align: start;
  color: var(--Gray300);
  padding-left: 4rem;
  font-size: var(--FontSize-xsm);
}

/*About Section*/
#about {
  width: 90%;
  padding-left: 2rem;

  color: var(--Gray300);
  line-height: 1.5;
}

#about h2 {
  font-size: var(--FontSize-lg);
}

#about p {
  font-size: var(--FontSize-xsm);
}
/*Hobbies Section*/
#hobbies {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

#hobbies article {
  width: 30%;
  height: 8rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  background-color: var(--Gray800);
  box-shadow: 0px 8px 6px -4px rgba(53, 208, 242, 0.55);
  transition: ease-out 300ms;
}

#hobbies article:hover {
  transform: scale(1.03);
}

#hobbies article h4 {
  font-size: var(--FontSize-sm);
  padding-top: 0.5rem;
}

#hobbies article img {
  width: 4rem;
  height: 4rem;

  margin-left: 0.5rem;
}

#hobbies article h4 {
  margin: 0px 0px 0px 0.5rem;
}

/*Skilss Section*/
#skills {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  text-align: center;
  font-size: var(--FontSize-sm);
}

#skills article {
  width: 30%;
  height: 8rem;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;

  border-radius: 10px;
  transition: ease-out 300ms;
  background-color: var(--Gray800);
}

.skill--logo1 {
  box-shadow: 0px 8px 6px -4px rgba(245, 98, 24, 1);
}

.skill--logo2 {
  box-shadow: 0px 8px 6px -4px rgba(255, 195, 0, 1);
}

.skill--logo3 {
  box-shadow: 0px 8px 6px -4px rgba(164, 244, 121, 1);
}

.skill--logo4 {
  box-shadow: 0px 8px 6px -4px rgba(8, 41, 94, 1);
}

.skill--logo5 {
  box-shadow: 0px 8px 6px -4px rgba(0, 168, 198, 1);
}

.skill--logo6 {
  box-shadow: 0px 8px 6px -4px rgba(255, 251, 255, 1);
}

#skills article:hover {
  transform: scale(1.03);
}

#skills article img {
  width: 5rem;
  height: 5rem;

  margin-left: 0.5rem;
}

#skills article h4 {
  margin: 0rem 0rem 0.5rem 0rem;
}

/*Education Section*/

#education {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  text-align: start;
}

#education article {
  width: 30%;
  height: 14rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: var(--GrayColor);
  border-radius: 10px;

  transition: ease-out 300ms;

  background-color: var(--Gray800);
  box-shadow: 0px 8px 6px -4px rgba(53, 208, 242, 0.55);
}

#education article:hover {
  transform: scale(1.03);
}

.education_cardcontainer img {
  width: 8rem;
  height: 8rem;
  border-radius: 10px;
}

.education_cardcontainer p {
  margin-bottom: 0px;
  margin-top: 0px;
}

/*Portfolio Section*/

#portfolio {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

#portfolio article {
  width: 30%;
  height: 20rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  background-color: var(--Gray800);
  box-shadow: 0px 8px 6px -4px rgba(53, 208, 242, 0.55);
}

#portfolio article img:hover {
  transform: scale(1.1);
}

#portfolio article img {
  width: 15rem;
  height: 15rem;
  transition: ease-out 300ms;
}

.button_container {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
}

.button_container a {
  width: 50%;
  height: 3rem;

  text-align: center;
  background-color: transparent;
  border-style: none;
  text-decoration: none;
  color: var(--GrayColor);
  font-size: var(--FontSize-xsm);
  margin-top: 8px;
  transition: ease-out 300ms;
}

.button_container a:hover {
  transform: scale(1.1);
}

/*Contact Section*/

#contact {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;

  align-items: center;
}

#contact form {
  width: 80%;
  height: 60vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#contact form :nth-child(-n + 5) {
  width: 50%;
  border-radius: 4px;
  border-style: 4px;
  color: var(--GrayColor);
  font-size: var(--FontSize-xsm);
}

#contact form input::placeholder {
  color: var(--Gray300);
}

#contact form input {
  height: 3rem;
  background-color: transparent;
  border-color: 1px solid var(--GrayColor);
  color: var(--GrayColor);
}

#contact form textarea {
  height: 14rem;
  resize: none;
  outline: none;
  background-color: transparent;
  border-color: 1px solid var(--GrayColor);
  color: var(--GrayColor);
}

#contact form button {
  width: 100%;
  height: 3rem;
  color: var(--GrayColor);
  border-style: none;
  background: linear-gradient(90deg, #0c599d, #4091b7, #0e6674);
  transition: ease-out 500ms;
}

#contact form button:hover {
  transform: scale(1.1);
}

/*Footer*/

footer {
  width: 100%;
  height: 10dvh;

  font-size: var(--FontSize-xsm);
  text-align: center;

  color: var(--GrayColor);
}

/*Laptop small view*/
@media (max-width: 1440px) {
  #home p {
    width: 100%;
  }

  aside {
    width: 20%;
  }

  aside .item_container {
    width: 27%;
    height: 24%;
  }

  aside .item {
    margin-left: -90px;
    margin-right: 30px;
  }
}

/*Laptop small view*/
@media (max-width: 908px) {
  #home p {
    width: 100%;
  }

  aside {
    width: 25%;
  }

  aside .item_container {
    width: 32%;
    height: 24%;
  }

  aside .item {
    margin-left: -90px;
    margin-right: 30px;
  }
}

/*Tablet View*/

@media (max-width: 550px) {
  .logo_container {
    width: 100%;
  }

  .logo_container h3 {
    font-size: var(--FontSize-sm);
  }

  .logo_container img {
    width: 30px;
    height: 30px;
  }

  .navbar_container {
    width: 100%;
    justify-content: end;
    align-items: center;
  }

  .navbar_list {
    padding-right: 1rem;
  }

  .navbar_list a {
    font-size: var(--FontSize-sm);
  }

  .navbar_list li:nth-child(-n + 5) {
    display: none;
  }

  /*Aside menú*/

  aside {
    width: 40%;
  }

  aside .item_container {
    width: 30%;
    height: 24%;
  }

  aside .item {
    margin-left: -60px;
    margin-right: 30px;
  }

  /*Main*/

  main {
    justify-content: center;
    padding-left: 0rem;
    padding-right: 0rem;
  }
  /*Home*/
  #home {
    width: 90%;
    color: var(--Gray300);
    padding-left: 3rem;
    padding-right: 3rem;
  }

  #home p {
    width: 100%;
  }
  /*About Section*/
  #about {
    width: 90%;
    padding-left: 3rem;
    padding-right: 3rem;

    color: var(--Gray300);
  }
  /*Hobbies Section*/
  #hobbies {
    width: 60%;

    flex-direction: column;

    gap: 20px;
    align-items: center;
    text-align: center;
  }

  #hobbies article {
    width: 100%;
    height: 8rem;

    justify-content: center;
    align-items: center;

    background-color: var(--Gray800);
  }

  /*Skilss Section*/
  #skills {
    width: 60%;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    text-align: center;
  }

  #skills article {
    width: 100%;
    height: 8rem;

    justify-content: center;
    align-items: center;

    background-color: var(--Gray800);
  }

  /*Education Section*/

  #education {
    width: 60%;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    text-align: center;
  }

  #education article {
    width: 100%;
    height: 14rem;

    flex-direction: column;
    justify-content: center;
    font-size: var(--FontSize-xsm);

    background-color: var(--Gray800);
  }

  /*Portfolio Section*/

  #portfolio {
    width: 60%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
  }

  #portfolio article {
    width: 100%;
    height: 14rem;
    align-items: center;

    background-color: var(--Gray800);
  }

  #portfolio article img {
    width: 8rem;
    height: 8rem;
  }

  .button_container {
    width: 100%;
  }

  .button_container a {
    font-size: var(--FontSize-xsm);
  }

  /*Contact Section*/

  #contact {
    width: 100%;
  }

  #contact form {
    width: 100%;
  }

  #contact form :nth-child(-n + 5) {
    border-radius: 4px;
  }

  #contact form input {
    background-color: transparent;
    border-color: 1px solid var(--GrayColor);
    color: var(--GrayColor);
  }

  #contact form textarea {
    height: 14rem;
  }
}

/*Mobile view*/
@media (max-width: 320px) {
  .logo_container {
    width: 100%;
    justify-content: start;
    padding-left: 0.5rem;
    font-size: var(--FontSize-lg);
  }

  .navbar_container {
    width: 50%;
    justify-content: end;
  }

  .navbar_list {
    padding-right: 10px;
    margin-right: 0px;
  }

  .navbar_list li a {
    font-size: var(--FontSize-sm);
  }

  aside {
    width: 100%;
    left: 0rem;
  }

  aside .item_container {
    width: 15%;
  }
  main {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  main h2 {
    font-size: var(--FontSize-lg);
  }
  /*Home*/
  #home {
    width: 100%;
    padding-left: 3rem;
  }

  #home h1 {
    font-size: var(--FontSize-lg);
  }

  #home p {
    width: 100%;
    font-size: var(--FontSize-xsm);
  }

  /*About Section*/
  #about {
    width: 100%;
    padding-left: 3rem;
  }

  #about h2 {
    font-size: var(--FontSize-md);
  }
  #about p {
    font-size: var(--FontSize-xsm);
  }

  /*Hobbies Section*/
  #hobbies {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
    text-align: center;
    align-items: center;
  }

  #hobbies article {
    width: 100%;
    height: 8rem;

    justify-content: center;
  }

  #hobbies article img {
    width: 4rem;
    height: 4rem;

    margin-left: 0rem;
  }

  #hobbies article h4 {
    margin: 0px 0px 0px 0rem;
  }

  /*Skilss Section*/
  #skills {
    flex-direction: column;
    text-align: center;
    flex-wrap: nowrap;
    gap: 20px;
    text-align: center;
    align-items: center;
  }

  #skills article {
    width: 100%;
    height: 8rem;

    justify-content: center;
    align-items: center;

    background-color: var(--Gray800);
  }

  #skills article img {
    width: 4rem;
    height: 4rem;

    margin-left: 0rem;
  }

  #skills article h4 {
    margin: 0px 0px 0px 0rem;
  }

  #education {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    text-align: center;
    align-items: center;
  }

  #education article {
    width: 100%;
    height: 12rem;

    display: flex;
    flex-direction: column;
    justify-content: end;
    color: var(--GrayColor);
    font-size: var(--FontSize-xsm);

    background-color: var(--Gray800);
  }

  #portfolio {
    flex-direction: column;
    gap: 20px;
  }

  #portfolio article {
    width: 100%;
    align-items: center;
  }

  #portfolio article img {
    width: 8rem;
    height: 8rem;

    margin-left: 0rem;
  }

  #portfolio .button_container {
    width: 100%;
  }

  .button_container a {
    font-size: var(--FontSize-xsm);
  }

  /*Contact Section*/

  #contact {
    width: 100%;
  }

  #contact form {
    height: 24rem;
    gap: 10px;
  }

  #contact form :nth-child(-n + 5) {
    width: 75%;

    font-size: var(--FontSize-xsm);
  }

  #contact form input {
    height: 3rem;
  }
}
